@media screen and (max-width: 1025px) {
  #container #header .menu .toggle {
    display: flex;
    justify-content: space-between; }
    #container #header .menu .toggle .fa {
      cursor: pointer;
      font-size: 30px; }
  #container #header .menu .nav {
    width: 100%; }
    #container #header .menu .nav .logo {
      display: none; }
    #container #header .menu .nav .navBar {
      display: none;
      width: 100%;
      background-color: #222222;
      opacity: 0.7;
      flex-direction: column; }
      #container #header .menu .nav .navBar li {
        width: 100%;
        display: block;
        text-align: center;
        padding: 15px 0; }
        #container #header .menu .nav .navBar li a {
          color: #ffffff; }
      #container #header .menu .nav .navBar .navFolow {
        display: none; }
    #container #header .menu .nav .active {
      display: block; }
  #container #header .innerHeader .diwanee h1 {
    font-size: 55px;
    border-bottom: none; }
  #container #header .innerHeader .diwanee .mobile {
    display: none; } }
@media screen and (max-width: 720px) {
  #container #header .menu .nav .navBar .navFolow {
    width: 100%;
    display: block;
    display: flex;
    color: #fbfbfb;
    justify-content: space-between;
    margin-top: 35px; }
    #container #header .menu .nav .navBar .navFolow p {
      margin-left: 10px; }
    #container #header .menu .nav .navBar .navFolow .icon {
      justify-content: flex-end;
      margin-right: 10px; }
      #container #header .menu .nav .navBar .navFolow .icon a {
        margin: 0 10px; }
  #container #header .innerHeader p {
    display: none; }
  #container #header .innerHeader .mobile {
    display: block; }
  #container #columns {
    width: 100%;
    display: flex;
    flex-direction: column; }
    #container #columns .column {
      display: flex;
      flex-basis: 33.33%; }
  #container #jobs .jobsColumns .innerColumns .column {
    width: 90%; }
    #container #jobs .jobsColumns .innerColumns .column .aboutJob .skill {
      justify-content: flex-start; }
      #container #jobs .jobsColumns .innerColumns .column .aboutJob .skill span {
        margin: 0 10px;
        border: none;
        width: auto; }
    #container #jobs .jobsColumns .innerColumns .column .signIn {
      display: none; }
  #container #aboutCompany {
    margin: 20px 0 50px 0; }
    #container #aboutCompany .innerCompany {
      width: 90%; }
  #container #folowUs .innerFolow {
    width: auto;
    margin: 0 auto 70px auto; }
  #container #footer .rows {
    width: 90%;
    display: flex;
    flex-direction: column;
    padding: 90px 0 50px 0; }
    #container #footer .rows .row {
      padding: 10px;
      text-align: center; }
      #container #footer .rows .row .titleRow {
        margin: auto;
        margin-bottom: 15px; }
        #container #footer .rows .row .titleRow .innerTitle {
          display: flex;
          margin: 0 auto; }
  #container #footer .copyright {
    padding: 0; }
    #container #footer .copyright .innerCopyright {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column; }
      #container #footer .copyright .innerCopyright .nameCopyright {
        flex: 1;
        order: 2;
        text-align: center;
        padding: 10px 0; }
        #container #footer .copyright .innerCopyright .nameCopyright p {
          display: none; }
        #container #footer .copyright .innerCopyright .nameCopyright .mobile {
          display: block; }
      #container #footer .copyright .innerCopyright .moreFolow {
        flex: 1;
        order: 1;
        background-color: #222222;
        justify-content: center;
        padding: 20px 0; } }

/*# sourceMappingURL=responsive.css.map */
